﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/eshrtui/Views/_master.cshtml";
}
@section documentReady
{
    pageController=new pageControllerC({page:'home'});
}
<main>
    <div class="slidercontainer">
        <div id="slideone"></div>
    </div>
</main>
