﻿
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
@section documentReady
{
    pageController=new pageControllerC({page:'products'});
}
<main class="clearfix">
    <div class="pfilter">
        <section>
            <div class="pf-menu opened">
                <a href="#" class="pfm-title clearfix" onclick="return false;">
                    <span class="linkcontent"></span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <span class="glyphicon glyphicon-menu-up"></span>
                </a>
                <div class="pfm-activeitem">
                    <a href="#" class="clearfix" onclick="return false;">
                        <span class="linkcontent"></span>
                        <span class="icon-left glyphicon glyphicon-remove"></span>
                    </a>
                </div>
                <ul class="pfm-items type-row">
                    <li class="pmf-item"><a href="#" onclick="return false;"><span class="linkcontent"></span></a></li>
                    <li><a href="#" onclick="return false;"><span class="linkcontent"></span></a></li>
                    <li><a href="#" onclick="return false;"><span class="linkcontent"></span></a></li>
                </ul>
            </div>
        </section>
    </div>
    <div class="pfilter-result">
        <div style="height:30px; border:solid 1px #ccc;"></div>
        <div class="products clearfix">
            <article class="product-item clearfix" style="display:none;">
                <div class="product-item-container clearfix">
                    <!--<div class="product-item-header"></div>-->
                    <a class="large-img-container noselect">
                        <div class="large-img"></div>
                    </a>
                    <div class="thumbs clearfix noselect">
                        <div class="btn-back disabled">
                            <span class="btn-ico glyphicon glyphicon-chevron-right"></span>
                        </div>
                        <div class="btn-forward">
                            <span class="btn-ico glyphicon glyphicon-chevron-left"></span>
                        </div>
                        <div class="thumbs-container">
                            <div class="thumb-imgs">
                                <div class="thumb-img"><div></div></div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="details-container">
                        <div class="detail detail-1">
                            <span class="detail-content"></span>
                        </div>
                        <div class="detail detail-2">
                            <span class="detail-content"></span>
                        </div>
                        <div class="detail detail-3">
                            <span class="detail-content"></span>
                        </div>
                        <div class="detail detail-4">
                            <span class="detail-content"></span>
                        </div>
                    </a>
                </div>
            </article>
        </div>
        <div style="height:30px; border:solid 1px #ccc;"></div>
    </div>
</main>

