*{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.clearfix:before,
.clearfix:after{
	display:table;
	content:' ';	
}
.clearfix:after{
	clear:both;	
}
.ffa1{
	font-family:web_Yekan;	
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container{
	max-width: 970px;
	margin:  auto;
}
body{
	  background-color: #191919;
	  min-width: 300px;
}
hr{
	width: 100%;
	background-color: #666;
	border: 0;
	border-top: 1px solid #666;
	border-bottom: 1px solid #fff;
	margin: 10px 0 !important;
}
header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 1000;
}
.screenLoader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(50,50,50,0.4);
	z-index: 999999999999;
	background-image: url('/Assets/Images/ajax-loader.gif');
	background-position: center;
	background-repeat: no-repeat;
}
.screenLoader.active{
	display: block;
}
::selection {
	background: #666;
	color: #fff;
	text-shadow: none;
}

.nav.tinynav{
	height:30px;
	background-color:#111;
	overflow: hidden;	
}
.nav .tinynav-left{
	float:left;	
}
.nav .tinynav-right{
	float:right;	
}
.nav.tinynav li{
	float:right;
	height:30px;
}
.nav.tinynav li a{
	color:#fff;
	display:block;
	height:30px;
	padding:0px 10px;
	-webkit-transition:color 100ms,.2s;
	transition:color 100ms,.2s;
}
.nav.tinynav li a span.linkcontent{
	height:30px;
	line-height:30px;
	font-weight:bold;
	float:right;
}
.nav.tinynav li a span.linkcontent.ffa1{
	font-size:11px;
	line-height:33px;
	font-weight:normal;
}
.nav.tinynav li a span.glyphicon{
	height:30px;
	line-height:30px;
	font-size:13px;
	float:right;
	margin-left:5px;
}
.nav.tinynav li a:hover,.nav.tinynav li a.active{
	color:#fa5400;
}
.nav.bignav{
	height:50px;
	background-color:#fafaff;
	background-image:url('/Assets/Images/navbg.jpg');
	background-repeat:repeat-x;
	background-position:center;
	display:table;
	width:100%;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	position: relative;
	z-index: 2000;
}
.nav.bignav li{
	display:table-cell;
	height:50px;
	line-height:50px;
	border-left:1px solid #fff;
	border-right:solid 1px rgba(0,0,0,0.2);;
	-webkit-transition:background-color 100ms,.5s;
	transition:background-color 100ms,.5s;
	vertical-align:middle;
	width:1px;
	text-align:center;
	background-color:#fafaff;
	background-image:url('/Assets/Images/navbg.jpg');
	color:#333;
	position: relative;
	
}
.nav.bignav li.menu-item:hover{
	background-color:#fff;
	background-image:none;
}
.nav.bignav li.menu-item.active{
	background-color: #f7f7fa;
	background-image: url('/Assets/Images/bg-noise.png');
	border-left-color: transparent;
	background-size: auto;
}
.nav.bignav li.menu-item.active:before,.nav.bignav li.menu-item.active:after{
	background-color: #f7f7fa;
	background-image: url('/Assets/Images/bg-noise.png');
	content: '';
	height: 5px;
	left: -1px;
	position: absolute;
	top: 100%;
	width: 100%;
}

.nav.bignav li a{
	height:50px;
	line-height:50px;
	padding:0 23px 0 18px;
	color:#333;
	display:block;
	white-space:nowrap;
	font-size: 12px;
}
.nav.bignav li:hover a,.nav.bignav li.active a{
	color:#fa5400;
}
.nav.bignav li a.logo{
	padding:0 18px;
	font-size:18px;
}
.nav.bignav li a.logo:hover span{
	color:#fa5400;
}
.nav.bignav li.navsearch{
	width:auto;
}
.nav.bignav li a span.glyphicon{
	height:50px;
	line-height:50px;
	color: #777;
}
.nav.bignav li:first-child{
	border-left:none;
}
.nav.bignav li:last-child{
	border-right:none;
}
.nav.bignav li a span.glyphicon.glyphicon-triangle-bottom{
	font-size:8px;
}
.nav.bignav li.menu-item.navlogin .glyphicon-user{
	color: #444;
	display: none;
	padding: 0 5px;
}
.navsearch form{
	min-width: 0;
	padding: 7px;
}
.navsearch form label{
	display: block;
	height:36px;
	max-width: 500px;
	padding: 1px 36px 1px 35px;
	margin: 0 auto;
	background-color:#fff;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.45);
	position: relative;
	cursor: pointer;
	font-size: 13px;
	color: #555;
}
.navsearch form label span.focus{
	position: absolute;
	height: 34px;
	width:34px;
	right: 1px;
	top:1px;
	line-height: 34px;
	font-size: 14px;
	background: transparent;
	
}
.navsearch form label input[type="search"]{
	width: 100%;
	height: 16px;
	padding: 9px 0;
	margin: 1px 0;
	line-height: 16px;
	border: none;
	-webkit-appearance: search;
	-moz-appearance: textfield;
	appearance: search;
	outline: none;
	overflow: hidden;
	text-overflow:ellipsis;
	display: block;
	direction: rtl;
	font-family: web_Yekan;
	background: transparent;
	font-size: 13px;
}
.navsearch a{
	display: none !important;
}
::-webkit-input-placeholder {
	color: #888;
	font-size: 13px;
	line-height: 20px;
}
:-moz-placeholder {
	color: #888;
	font-size: 13px;
	line-height: 20px;
	opacity:  1;
}
::-moz-placeholder {
	color: #888;
	font-size: 13px;
	line-height: 20px;
	opacity:  1;
}
:-ms-input-placeholder {
	color: #888;
	font-size: 13px;
	line-height: 20px;
}
.sbnvc{
	display: block;
	width: 100%;
	position: absolute;
	top:80px;
	left: 0;
	z-index: 1600;
}
.subnav-container{
	display: block;
	width: 100%;
	height: 0;
	overflow: hidden;
	position: relative;
	background-image: url('/Assets/Images/bg-noise.png');
	background-image: -owg-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),url('/Assets/Images/bg-noise.png');
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),url('/Assets/Images/bg-noise.png');
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),url('/Assets/Images/bg-noise.png');
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),url('/Assets/Images/bg-noise.png');
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),url('/Assets/Images/bg-noise.png');
	background-size: auto;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	background-color: #f7f7fa;
	color: #eee;
	z-index: 1580;
	-webkit-transition:height ease-in .3s;
	transition:height .3s;
}
.subnavitem-container{

	width: 100%;
	max-width: 970px;
	margin: 30px auto 25px auto;
	
	display: none;
	direction: rtl;
	font-family: web_Yekan;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid #fff;
	z-index: 1590;
	
}
.subnav-col{
	display: table-cell;
	padding: 0 2%;
	border-left: 1px solid #fff;
	border-right: 1px solid rgba(0,0,0,0.2);
}
.subnav-col-header{
	margin-bottom: 8px;
	color: #333;
}
.subnav-col-header a{
	display: block;
}
.subnav-col-items li{
	/*padding: 4px 0;*/
}
.subnav-col-items li a{
	color: #666;
	font-weight: 100;
	display: block;
	font-family: web_Yekan;
	font-size: 12px;
	padding: 4px 0;

}

.subnav-col-items li.subnav-viewmore a{
	color: #333;
	font-weight: bold;
}
.subnav-col-items li:hover a,.subnav-col-header:hover a{
	color:#fa5400;
}
.x{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	
}


.navlogin div.subnavitem-container{
	/*width: 400px !important;*/
	border:none;
	display: block;
}
.navlogin div.subnavitem-container .subnav-col{
	display: block;
	padding: 0 2%;
	border:none;
}
.sbnvclogin{
	width: 300px;
	
}
.sbnvclogin .subnav-container{

}
.sbnvclogin div.subnavitem-container{
	/*width: 400px !important;*/
	border:none;
	display: block;
	height: 350px;
	margin: 0;
	border: 1px solid #ccc;
	border-left: none;
	border-top: none;
	border-radius: 0 0 0 3px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	padding: 20px;
}
.sbnvclogin div.subnavitem-container .subnav-col{
	display: block;
	padding: 0 2%;
	border:none;
	
}
.sbnvclogin div.subnavitem-container .subnav-col h4{
	font-size: 20px;
	color: #333;
	margin-bottom:15px;
}
.sbnvclogin input[type="text"],.sbnvclogin input[type="password"]{
	display: block;
	width: 100%;
	padding: 8px 15px;
	margin-bottom: 15px;
	color:#333;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	color: #666;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.4)inset,inset 0 1px 0 0 rgba(255,255,255,0),inset 0 -1px 0 0 rgba(0,0,0,.15);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.4)inset,inset 0 1px 0 0 rgba(255,255,255,0),inset 0 -1px 0 0 rgba(0,0,0,.15);
	background-color: #fff;
	-webkit-font-smoothing: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-clip: padding-box;
	border: 1px solid #ddd;
	outline: 0;

	/*padding: .6667em 1em;*/
	position: relative;
	font-family: web_Yekan;
	font-size: 12px;
	width: 100%;
	border-radius: 5px;
}
.sbnvclogin .passRemember{
	color: #333;
	vertical-align: middle;
	height: 20px;

}
.sbnvclogin .passRemember input{
	
	margin-left:5px;
	margin-top:3px;
	float: right;
}
.sbnvclogin .passRemember span{
	font-size: 13px;
	height: 20px;
	line-height: 20px;
	float: right;
}
.sbnvclogin hr{
	height: 0;
	border-top: 1px solid #ccccce;
	margin: 20px 0 15px 0 !important;
}
.btn{
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	border-radius: 3px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	/* background-clip: padding-box; */
	border: none;
	cursor: pointer;
	margin: 0;
	outline: 0;
	padding-bottom: 0;
	padding-top: 0;
	position: relative;
	text-decoration: none;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
	text-align: center;

}

.sbnvclogin form button[type="submit"]{

	min-height: 40px;
	min-width: 100px;
	margin-top: 15px;
	margin-bottom: 0 !important;
	color: #fff;
	background-color: #fa5400 !important;
	background-image: -webkit-linear-gradient(top,#ff742e,#c74300);
	background-image: -moz-linear-gradient(top,#ff742e,#c74300);
	background-image: linear-gradient(to bottom,#ff742e,#c74300);
	letter-spacing: -1px;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	text-align: center;



}
#btnNavJoin{
	letter-spacing: -1px;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #333!important;
	background-image: -webkit-linear-gradient(top,#4d4d4d,#1a1a1a);
	background-image: -moz-linear-gradient(top,#4d4d4d,#1a1a1a);
	background-image: linear-gradient(to bottom,#4d4d4d,#1a1a1a);
	-webkit-appearance: button;
	cursor: pointer;
	height: 40px;
	min-width: 100px;
	font-size: 13px;
}
#navJoin h4{
	color: #333;
	font-size: 15px;
}








/*
#################################################################
*/









main{
	z-index: 1;
	
	background-color:#fff;
	margin-top:80px;
	-webkit-transition:height .2s;
	-moz-transition:height .2s;
	-o-transition:height .2s;
	-ms-transition:height .2s;
	transition:height .2s;
}
#slideone{
	background-image: url('/Assets/Images/333.jpg');
	background-position: center;
	position: relative;
	display: block;
	width: 100%;
	height: 800px;
	
	position: relative;
	
}





/*
#################################################################
*/






footer{
	background-color: #191919;
	border-top:solid 1px #fa5400;
}

footer .container{
	direction: rtl;
}
footer .footernav{
	display: block;
	padding-top: 25px;
}
footer .footernav li.fnvcol{
	float: right;
	padding: 10px 20px;
	color: #999;
}
footer .footernav li.fnvcol:first-child{
	padding-right: 10px;
}
footer .footernav li a,.footertinybar li a{
	color: #999;
	font-family: web_Yekan;
	font-size: 11px;
	padding: 5px;
	display: block;
}
footer .footernav li a:hover,.footertinybar li a:hover{
	color: #fff;
}
footer .footernav li a h4{
	color: #fff;
	font-family: web_Yekan;
	font-size: 12px;
	font-weight: normal;
}
footer .footernav .footerleft{
	float: left !important;
}
footer .footernav .socials a{
	display: inline;
}
footer .footernav .socials a span{
	height: 30px;
	width: 30px;
	line-height: 35px;
	text-align: center;
	font-size: 25px;


}
.footertinybar{
	padding: 5px 0 5px 0;
	border-top: 1px solid #444;
	margin-top: 30px;
	color: #999;
}
.footertinybar .ftbright{
	float: right;
	padding: 0 10px;
}
.footertinybar .ftbleft{
	float: left;
	padding: 0 10px;
}
.footertinybar li{
	float: right;

}
.footertinybar a{
	color: #999;
	display: block;
}
@media(max-width: 970px){
	.nav.bignav li a{
		padding:0 15px 0 10px;
	}

}
@media(max-width: 700px){
	footer .footernav li.fnvcol{
		float: right !important;
		width: 49%;
	}
}
@media(max-width: 600px){
	.nav.bignav li a{
		padding:0 10px 0 5px;
	}
	.nav.bignav li.menu-item.navlogin .glyphicon-user{
		display: block;
	}
	.nav.bignav li.menu-item.navlogin span.linkcontent.ffa1{
		display: none;
	}
	.nav.tinynav li a{
		padding:0px 5px;
	}
}
@media(max-width: 500px){
	.navsearch a{
		display: block !important;
	}
	.navsearch form{
		display: none;
	}
	.navsearch form.navsearchclone{
		display: block !important;
	}
	footer .footernav li.fnvcol{
		
		width: 100%;
		text-align: center;
	}
	.footertinybar .ftbleft,.footertinybar .ftbright,
	.footertinybar .ftbleft li{
	
		display: block !important;
		float: none !important;
		clear: both !important;
		
		text-align: center !important;
		width: 100%;
	}
	.footertinybar .ftbright li{
		display: inline-block !important;
		text-align: center !important;
		float: none;
		clear: both;
	}
}





/*
#####################################################################
#####################################################################
*/
/*
#####################################################################
#####################################################################
*/
/*
#####################################################################
#####################################################################
*/

/*
##### PRODUCTS PAGE BEGIN
*/
main{

	position: relative;
}


.pfilter{
	
	
	width: 220px;
	position: absolute;
	top: 20px;
	right: 20px;
	
	font-family: web_Yekan;
	z-index: 100000000;
	direction: rtl;
}
.pfilter section{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	background-size: auto;
	background-color: #eee;
	padding: 20px 0 16px 0;
	margin-top: 20px;
}
.pfilter section:first-child{
	margin-top:0;
}
.pfilter-result{
	

	margin:20px 260px 20px 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	background-size: auto;
	min-width: 240px;

}



.pf-menu{
	padding-top: 7px;
	margin-top: 7px;
	border-top: solid 1px #dfdfdf;
}
.pf-menu .pfm-title{
	padding:5px 15px;
	display: block;
}

.pf-menu .pfm-title span.linkcontent{
	color: #000;

	float: right;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}
.pf-menu .pfm-title span.glyphicon{
	float: left;
	font-weight: 100;
	font-size: 10px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
}
.pf-menu .pfm-title span.glyphicon.glyphicon-menu-up{
	display: none;
}
.pf-menu .pfm-title span.glyphicon.glyphicon-menu-down{
	display: block;
}
.pf-menu.opened .pfm-title span.glyphicon.glyphicon-menu-up{
	display: block;
}
.pf-menu.opened .pfm-title span.glyphicon.glyphicon-menu-down{
	display: none;
}
.pf-menu .pfm-items li a,.pf-menu .pfm-activeitem a{
	padding:5px 15px;
	display: block;
	font-size: 12px;
	color: #333;
}
.pf-menu .pfm-items li a:hover{


}
.pf-menu .pfm-items li a:hover span.linkcontent{
	border-bottom: solid 1px #777;

}
.pf-menu .pfm-items.type-tile{
	padding: 0 10px;
	margin-top: 5px;
}
.pf-menu .pfm-items.type-tile li{
	float: right;
	padding: 0;
}
.pf-menu .pfm-items.type-tile li a{
	padding: 3px;
}
.pf-menu .pfm-items.type-tile li a span.linkcontent{
	height: 33px;
	width: 33px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-size: auto;


}

.pf-menu .pfm-activeitem{
	padding: 5px 13px;
}
.pf-menu .pfm-activeitem a{
	font-size: 13px;
	color: #fff;
	background-color: #3b3b3b;
	background-image: -owg-linear-gradient(top, #3b3b3b, #2c2c2c);
	background-image: -webkit-linear-gradient(top, #3b3b3b, #2c2c2c);
	background-image: -moz-linear-gradient(top, #3b3b3b, #2c2c2c);
	background-image: -o-linear-gradient(top, #3b3b3b, #2c2c2c);
	background-image: linear-gradient(top, #3b3b3b, #2c2c2c);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

}

.pf-menu .pfm-activeitem .glyphicon{
	height: 15px;
	width: 15px;
	line-height: 15px;
	margin: 7px 0;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.pf-menu .pfm-activeitem .icon-right{
	float: right;
	margin-left: 7px;
}
.pf-menu .pfm-activeitem a .linkcontent{
	height: 30px;
	line-height: 33px;
	float: right;
}
.pf-menu .pfm-activeitem .icon-left{
	float: left;
}
.pf-menu .pfm-activeitem a:hover .icon-left{
	color: #fa5400;
}























































.products{
	position: relative;
}
.products *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box !important;
}
.product-item{
	/*position: absolute;
	top: 100px;
	left: 400px;*/
	
	width: 244px;
	float: right;
	padding: 2px;
	margin-bottom: 20px;
	
}
.product-item .product-item-container{
	position: relative;
	padding: 12px;
	border:solid 1px #fff;
	background-color: #fff;
}


.product-item .large-img-container{
	background-color: #f5f5f5;
	background-image: url('/Assets/Images/ajax-loader.gif');
	background-position: center;
	background-repeat: no-repeat;
	height: 220px;
	width: 100%;
	
	display: block;
	cursor: pointer;
	position: relative;
}
.product-item .large-img-container .large-img{
	
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}
.product-item .details-container{
	display: block;
}
.product-item .detail{
	display: block;
	width: 100%;
	
	padding:0 3px;
	direction: rtl;
	
	font-family: web_Yekan;
	font-weight: lighter;
	font-size: 11px;
	color: #777;
	white-space: nowrap;
	overflow: hidden;
}
.product-item .detail-1{
	margin:5px 0;
	
	border-bottom: solid 1px #ccc;
	
	padding: 3px;

}
.product-item .detail-2{
	font-family: helvetica,'calibri black';
	font-weight: bold;
	font-size: 13px;
	color: #333;
	
	
}
.product-item .detail-3{
	padding-top: 0;
}
.product-item .thumbs{
	margin-top: 10px;
	display: none;
}
.product-item .btn-back,.product-item .btn-forward{
	display: block;
	float: right;
	width: 15%;
	height: 45px;
	background-color: #f7f7f7;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
	color: #999;
}
.product-item .btn-forward{
	float: left;
}
.product-item .btn-back.disabled,.product-item .btn-forward.disabled{
	color: #e7e7e7;
	cursor: default;
}
.product-item .thumbs-container{
	
	height: 45px;
	width: 67%;
	float: left;
	margin: 0 1.5% 0 1.5%;
	position: relative;
	overflow: hidden;
}
.product-item .thumb-imgs{
	
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	overflow: hidden;
	white-space:nowrap;
	
}
.product-item .thumb-img{
	float: right;
	
	height: 45px;
	width: 45px;
	margin-left: 5px;
	white-space:nowrap;
	background-color: #f5f5f5;
	background-image: url('/Assets/Images/ajax-loader.gif');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.product-item .thumb-img div{
	width: 100%;
	height: 100%;
	

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}
.product-item .thumb-imgs .thumb-img:last-child{
	margin-left: 0;
}
.product-item.active .product-item-container{
	border:solid 1px #ccc;
}
.product-item.active .thumbs{
	display: block;
}



/*

@media(max-width: 1920px){
	.product-item{
		width: 15.6666666666%;
		margin: 0.5%;
		margin-bottom: 20px;
	}
}
@media(max-width: 1670px){
	.product-item{
		width: 19%;
		margin: 0.5%;
		margin-bottom: 20px;
	}
}
@media(max-width: 1400px){
	.product-item{
		width: 24%;
		margin: 0.5%;
		margin-bottom: 20px;
	}
}
@media(max-width: 1180px){
	.product-item{
		width: 32.33333333333%;
		margin: 0.5%;
		margin-bottom: 20px;
	}
}
@media(max-width: 940px){
	.product-item{
		width: 49%;
		margin: 0.5%;
		margin-bottom: 20px;
	}
}
@media(max-width: 730px){
	.product-item{
		width: 99%;
		margin: 0.5%;
		margin-bottom: 20px;
	}
}

*/
@media(max-width: 1920px){
	.product-item{
		width: 15.6666666666%;
		margin: 5px 0.5% 20px 0.5%;
	}
}
@media(max-width: 1830px){
	.product-item{
		width: 16.6666666666%;
		margin: 5px 0 20px 0;
	}
}
@media(max-width: 1740px){
	.product-item{
		width: 18%;
		margin: 5px 1% 20px 1%;
	}
}
@media(max-width: 1645px){
	.product-item{
		width: 18.5%;
		margin: 5px .75% 20px .75%;
	}
}
@media(max-width: 1600px){
	.product-item{
		width: 19%;
		margin: 5px .5% 20px .5%;
	}
}
@media(max-width: 1570px){
	.product-item{
		width: 20%;
		margin: 5px 0 20px 0;
	}
}
@media(max-width: 1500px){
	.product-item{
		width: 22%;
		margin: 5px 1.5% 20px 1.5%;
	}
}
@media(max-width: 1400px){
	.product-item{
		width: 23%;
		margin: 5px 1% 20px 1%;
	}
}
@media(max-width: 1350px){
	.product-item{
		width: 23.5%;
		margin: 5px .75% 20px .75%;
	}
}
@media(max-width: 1330px){
	.product-item{
		width: 24%;
		margin: 5px .5% 20px .5%;
	}
}
@media(max-width: 1300px){
	.product-item{
		width: 25%;
		margin: 5px 0 20px 0;
	}
}

/* #####- 3 cols -#####*/
@media(max-width: 1260px){
	.product-item{
		width: 28.3333333333%;
		margin: 5px 2.5% 20px 2.5%;
	}
}
@media(max-width: 1160px){
	.product-item{
		width: 29.3333333333%;
		margin: 5px 2% 20px 2%;
	}
}
@media(max-width: 1120px){
	.product-item{
		width: 30.3333333333%;
		margin: 5px 1.5% 20px 1.5%;
	}
}
@media(max-width: 1100px){
	.product-item{
		width: 31.3333333333%;
		margin: 5px 1% 20px 1%;
	}
}
@media(max-width: 1070px){
	.product-item{
		width: 32.3333333333%;
		margin: 5px .5% 20px .5%;
	}
}
@media(max-width: 1050px){
	.product-item{
		width: 33.3333333333%;
		margin: 5px 0 20px 0;
	}
}
/* #####- 2 cols -#####*/
@media(max-width: 1020px){
	.product-item{
		width: 36%;
		margin: 5px 7% 20px 7%;
	}
}
@media(max-width: 970px){
	.product-item{
		width: 38%;
		margin: 5px 6% 20px 6%;
	}
}
@media(max-width: 930px){
	.product-item{
		width: 40%;
		margin: 5px 5% 20px 5%;
	}
}
@media(max-width: 900px){
	.product-item{
		width: 42%;
		margin: 5px 4% 20px 4%;
	}
}
@media(max-width: 870px){
	.product-item{
		width: 44%;
		margin: 5px 3% 20px 3%;
	}
}
@media(max-width: 850px){
	.product-item{
		width: 46%;
		margin: 5px 2% 20px 2%;
	}
}
@media(max-width: 820px){
	.product-item{
		width: 48%;
		margin: 5px 1% 20px 1%;
	}
}
@media(max-width: 800px){
	.product-item{
		width: 49%;
		margin: 5px .5% 20px .5%;
	}
}
@media(max-width: 790px){
	.product-item{
		width: 50%;
		margin: 5px 0 20px 0;
	}
}
/* #####- 1 col -#####*/
@media(max-width: 780px){
	.product-item{
		width: 60%;
		margin: 5px 20% 20px 20%;
	}
}
@media(max-width: 710px){
	.product-item{
		width: 65%;
		margin: 5px 17.5% 20px 17.5%;
	}
}
@media(max-width: 670px){
	.product-item{
		width: 70%;
		margin: 5px 15% 20px 15%;
	}
}
@media(max-width: 650px){
	.product-item{
		width: 75%;
		margin: 5px 12.5% 20px 12.5%;
	}
}
@media(max-width: 620px){
	.product-item{
		width: 80%;
		margin: 5px 10% 20px 10%;
	}
}
@media(max-width: 600px){
	.product-item{
		width: 85%;
		margin: 5px 7.5% 20px 7.5%;
	}
}
@media(max-width: 580px){
	.product-item{
		width: 90%;
		margin: 5px 5% 20px 5%;
	}
}
@media(max-width: 570px){
	.product-item{
		width: 95%;
		margin: 5px 2.5% 20px 2.5%;
	}
}
@media(max-width: 550px){
	.product-item{
		width: 100%;
		margin: 5px 0 20px 0;
	}
}
/* #####- Hide Fliter Menu -#####*/
@media(max-width: 550px){
	.pfilter{
		display: none;
	}
	.pfilter-result{
		margin:20px;
	}
	.product-item{
		width: 60%;
		margin: 5px 20% 20px 20%;
	}
}
@media(max-width: 450px){
	.product-item{
		width: 70%;
		margin: 5px 15% 20px 15%;
	}
}
@media(max-width: 390px){
	.product-item{
		width: 80%;
		margin: 5px 10% 20px 10%;
	}
}
@media(max-width: 345px){
	.product-item{
		width: 90%;
		margin: 5px 5% 20px 5%;
	}
}
@media(max-width: 310px){
	.product-item{
		width: 100%;
		margin: 5px 0 20px 0;
	}
}
@media(max-width: 280px){
	.pfilter-result{
		margin:5px;
	}
}


.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}





















