﻿@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Online Shopping">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/Assets/Styles/reset_min.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Fonts/font.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Styles/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Styles/style.css">
    <script src="/Assets/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Assets/Scripts/isotope.js"></script>
    <script src="/Assets/Scripts/newscript.js"></script>
    <script>
        pageController=undefined;

        $(document).ready(function () {
           /*
            navController = new navController();
            $('.pf-menu .pfm-title').click(function (e) {
                e.preventDefault();
                $(this).parent().toggleClass('opened');
                $('.pfm-items', $(this).parent()).stop().slideToggle(150);

            });
            */
            @RenderSection("documentReady",false)
        });
    </script>

</head>
<body>
    <div class="screenLoader"></div>
    <div class="wrapper">
        <header>
            <nav>
                <div class="nav tinynav noselect">
                    <ul class="tinynav-left">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="linkcontent ffa1">اشتراک خبرنامه</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="linkcontent ffa1">سبد خرید</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <span class="linkcontent ffa1">راهنما</span>
                            </a>
                        </li>

                    </ul>
                    <ul class="tinynav-right">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="linkcontent">Hello</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="linkcontent">Hello</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="linkcontent">Hello</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="nav bignav noselect">
                    <li class="menu-item navlogin">
                        <a href="#">
                            <span class="linkcontent ffa1">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                                ورود
                            </span>
                            <span class="linkcontent glyphicon glyphicon-user"></span>
                        </a>
                        <div class="subnavitem-container" style="display:none;">
                            <div class="subnav-col">
                                <h4 class="subnav-col-header">ورود کاربران</h4>
                                <form action="/">
                                    <div>
                                        <input type="text" id="txtUsername" name="username" autocomplete="off" autocorrect="off" placeholder="نام کاربری">
                                    </div>
                                    <div>
                                        <input type="password" id="txtPassword" name="password" autocomplete="off" autocorrect="off" placeholder="کلمه عبور">
                                    </div>
                                    <div>
                                        <label class="passRemember">
                                            <input type="checkbox">
                                            <span> مرا به خاطر بسپار</span>
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div>
                                        <button type="submit" class="btn">ورود</button>
                                    </div>
                                </form>
                                <hr>
                                <div id="navJoin">
                                    <h4>قبلاً ثبت نام نکرده اید؟</h4>
                                    <div>
                                        <button id="btnNavJoin" class="btn">عضویت</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="navsearch">
                        <form>
                            <label>
                                <input type="search" autocomplete="off" autocorrect="off" placeholder="جستجو ...">
                                <span class="focus glyphicon glyphicon-search"></span>
                            </label>
                        </form>
                        <a href="#" id="btnOpenNavSearch">
                            <span class="focus glyphicon glyphicon-search"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span class="linkcontent ffa1">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                                دخترانه
                            </span>
                        </a>
                        <div class="subnavitem-container" style="display:none;">
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">1محصولات ویژه</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">کفش</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">پوشاک</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>

                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">اکسسوری</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">اکسسوری</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span class="linkcontent ffa1">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                                پسرانه
                            </span>
                        </a>
                        <div class="subnavitem-container" style="display:none;">
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">2محصولات ویژه</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">کفش</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">پوشاک</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">اکسسوری</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">اکسسوری</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span class="linkcontent ffa1">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                                زنانه
                            </span>
                        </a>
                        <div class="subnavitem-container" style="display:none;">
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">3محصولات ویژه</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>

                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">پوشاک</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">کفش</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">اکسسوری</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">اکسسوری</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>
                                    <li><a href="#">اکسسوری</a></li>
                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span class="linkcontent ffa1">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                                مردانه
                            </span>
                        </a>
                        <div class="subnavitem-container" style="display:none;">
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">4محصولات ویژه</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>

                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">کفش</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>


                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">پوشاک</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>

                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>

                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">اکسسوری</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li><a href="#">پولوشرت</a></li>
                                    <li><a href="#">شلوار</a></li>
                                    <li><a href="#">گرمکن</a></li>

                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                            <div class="subnav-col">
                                <h4 class="subnav-col-header"><a href="#">اکسسوری</a></h4>
                                <ul class="subnav-col-items">
                                    <li><a href="#">تیشرت</a></li>
                                    <li><a href="#">شلوارک</a></li>

                                    <li class="subnav-viewmore"><a href="#">ادامه...</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="logo">
                            <span class="glyphicon glyphicon-th-large"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="sbnvc">
                <div class="subnav-container">

                </div>
            </div>
        </header>
        <div class="clearfix"></div>

        @RenderBody();

        <footer>
            <div class="container">
                <ul class="footernav clearfix">
                    <li class="fnvcol clearfix footerleft">
                        <ul class="fnvrows">
                            <li class="fnvrow">
                                <a href="#"><h4>شبکه های اجتماعی</h4></a>
                            </li>
                            <li class="fnvrow socials">
                                <a href="#"><span class="glyphicon glyphicon-cloud"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-cloud"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-cloud"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-cloud"></span></a>
                            </li>

                        </ul>
                    </li>
                    <li class="fnvcol clearfix">
                        <ul class="fnvrows">
                            <li class="fnvrow">
                                <a href="#"><h4>کارت هدیه</h4></a>
                            </li>
                            <li class="fnvrow">
                                <a href="#"><h4>فروشگاه ها</h4></a>
                            </li>
                            <li class="fnvrow">
                                <a href="#"><h4>عضویت</h4></a>
                            </li>
                            <li class="fnvrow">
                                <a href="#"><h4>خبرنامه</h4></a>
                            </li>
                            <li class="fnvrow">
                                <a href="#"><h4>عضویت</h4></a>
                            </li>
                        </ul>
                    </li>
                    <li class="fnvcol clearfix">
                        <ul class="fnvrows">
                            <li class="fnvrow">
                                <a href="#"><h4>راهنما</h4></a>
                            </li>
                            <li class="fnvrow">
                                <a href="#">حساب کاربری</a>
                            </li>
                            <li class="fnvrow">
                                <a href="#">ثبت و پیگیری سفارش</a>
                            </li>
                            <li class="fnvrow">
                                <a href="#">پرداخت</a>
                            </li>
                            <li class="fnvrow">
                                <a href="#">ارسال سفارشات</a>
                            </li>
                            <li class="fnvrow">
                                <a href="#">تماس با ما</a>
                            </li>
                        </ul>
                    </li>
                    <li class="fnvcol clearfix">
                        <ul class="fnvrows">
                            <li class="fnvrow">
                                <a href="#"><h4>راهنما</h4></a>
                            </li>
                            <li class="fnvrow">
                                <a href="#">حساب کاربری</a>
                            </li>
                            <li class="fnvrow">
                                <a href="#">ثبت و پیگیری سفارش</a>
                            </li>
                            <li class="fnvrow">
                                <a href="#">پرداخت</a>
                            </li>
                            <li class="fnvrow">
                                <a href="#">ارسال سفارشات</a>
                            </li>
                            <li class="fnvrow">
                                <a href="#">تماس با ما</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="container">
                <div class="footertinybar clearfix">
                    <ul class="ftbleft clearfix">
                        <li>
                            <a>Copyright &copy; 2015. All Rights Reserved</a>
                        </li>
                    </ul>
                    <ul class="ftbright clearfix">
                        <li>
                            <a href="#">شرایط استفاده</a>
                        </li>
                        <li>
                            <a href="#">حریم خصوصی</a>
                        </li>
                        <li>
                            <a href="#">راهنما</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
